absl-py==2.4.0
adjustText==1.3.0
anndata==0.11.1
annotated-doc==0.0.4
annotated-types==0.7.0
array-api-compat==1.14.0
asciitree==0.3.3
astunparse==1.6.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
contourpy==1.3.2
cryptography==47.0.0
cycler==0.12.1
Cython==0.29.37
DateTime==6.0
dill==0.4.1
distro==1.9.0
exceptiongroup==1.3.1
fasteners==0.20
flatbuffers==25.12.19
fonttools==4.62.1
gast==0.7.0
google-auth==2.50.0
google-auth-oauthlib==1.3.1
google-pasta==0.2.0
grpcio==1.80.0
h5py==3.15.1
hf-xet==1.3.2
idna==3.13
igraph==1.0.0
ImageIO==2.37.2
imgaug==0.4.0
ipywidgets==8.1.8
jiter==0.13.0
joblib==1.5.3
jupyterlab_widgets==3.0.16
keras==2.15.0
kiwisolver==1.5.0
lazy_loader==0.4
legacy-api-wrap==1.5
legendkit==0.3.6
libclang==18.1.1
lime==0.2.0.1
llvmlite==0.46.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marsilea==0.5.8
matplotlib==3.10.9
mdurl==0.1.2
ml-dtypes==0.2.0
multiprocess==0.70.19
narwhals==2.17.0
natsort==8.4.0
networkx==3.4.2
numba==0.64.0
numcodecs==0.13.1
numpy==1.26.2
oauthlib==3.3.1
omicverse==1.7.9
openai==2.26.0
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==26.2
pandas==2.2.3
patsy==1.0.2
pillow==12.2.0
pip==26.1
plotly==6.6.0
progressbar2==4.5.0
protobuf==4.25.9
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pygam==0.12.0
pynndescent==0.6.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytz==2026.1.post1
regex==2026.2.28
requests==2.33.1
requests-oauthlib==2.0.0
rich==14.3.3
safetensors==0.7.0
scanpy==1.10.4
scikit-image==0.25.2
scikit-learn==1.7.2
scikit-misc==0.5.2
seaborn==0.13.2
session_info==1.0.1
session-info2==0.4
setuptools==59.8.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
spams==2.6.5.4
staintools==2.1.2
statsmodels==0.14.6
stdlib-list==0.12.0
stimage==0.0.1
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tqdm==4.67.3
typer==0.24.1
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2
umap-learn==0.5.11
urllib3==2.6.3
Werkzeug==3.1.8
wheel==0.47.0
widgetsnbextension==4.0.15
wrapt==1.14.2
zarr==2.18.3
zope.interface==8.2
